/* .navbar-container {
    display: none;
} */

body {
    background-color: rgb(255, 255, 255);
}

.navbar-container {
    position: fixed;
    display: flex;
    align-content: center;
    background: #fff;
    border-radius: 50px;
    width: 96%;
    left: 50%;
    height: 58px;
    bottom: 0px;
    z-index: 1000;
    max-width: 440px;
    transform: translateX(-50%);
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 30%) 0px 0.25rem 0.5rem 0px;
    bottom: 20px;
}

.navbar-item {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-evenly;
    display: inline-flex;
}

button {
    background: transparent;
    border: none;
    justify-content: center;
    position: relative;
    cursor: pointer;

}

svg:not(.cerca, .utente):hover {
    color: red;
}

.hamburger,
.cuore,
.carrello {
    color: rgb(72, 72, 72);
    width: 1.5rem;
}

/* .hamburger {
    margin-right: 1rem;
} */

/* .cuore {
    position: relative;
    left: 0.3rem;
} */

.utente {
    width: 2rem;
    margin-bottom: 0.75rem;
    /*  margin-left: 1.5rem; */
}

.button-cerca {
    background-color: red;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    left: 0.2rem;
    bottom: 0.5rem;
}

.cerca {
    color: #fff;
}

/* .button-cerca .cerca{
    margin-top: -1rem;
} */

a {
    text-decoration: none;
}

@media(min-width:1023px) {
    .navbar-container {
        display: none;
    }
}

@media(max-width:1024px) {

    .hamburger,
    .cuore,
    .carrello,
    .button-cerca,
    .cerca,
    .utente {
        margin: 0.75rem;
        padding: 0;
    }

    .navbar-item {
        width: 96%;
    }
}

@media(max-width: 390px) {

    .hamburger,
    .cuore,
    .carrello,
    .button-cerca,
    .cerca,
    .utente {
        margin: 0.5rem;
        gap: 0;
    }
}

@media(max-width: 320px) {

    .hamburger,
    .cuore,
    .carrello,
    .button-cerca,
    .cerca,
    .utente {
        margin: 0.2rem;
    }

}

@media(max-width: 270px) {

    .hamburger,
    .cuore,
    .carrello,
    .button-cerca,
    .cerca,
    .utente {
        margin: 0.1rem;
    }
}

@media(max-width: 240px) {

    .hamburger,
    .cuore,
    .carrello,
    .button-cerca,
    .cerca,
    .utente {
        margin: 0;
    }
}